
GOOGLE_CLIENT_ID="google clinet id"
GOOGLE_CLIENT_SECRET="google client secret"

NEXTAUTH_URL="auth url"

BACKEND_URL=""
FRONTEND_URL=""
API_URL="sdfdsf"
AUTH_URL="sdfdsfd"

NEXT_PUBLIC_AUTH_URL=""
NEXT_PUBLIC_BACKEND_URL=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""

NEXT_PUBLIC_TEST=test
